@import "tailwindcss" important;
@import "primeicons/primeicons.css";
@import "primereact/resources/primereact.min.css";

@theme {
    --color-primary: #2c4873;
    --color-secondary: #cc9556;
    --color-lightBackground: #f5f7fa;
    --color-gray: #4a4a4a;
    --color-white: #f5f7fa;
    --color-light-gray: #e8ebf0;
    --color-selected-background: #DCDFE3;
    --color-success: #03AD00;
}
